<!DOCTYPE html>
<head>
  <title>Caesar Cipher</title>
</head>

<body>
  <p>Welcome to A Caesar Cipher </p>
  <form>
    <p>Message:<input type='text' name='input'/></p>
    <br>
    <p>Shift:<input type='text' name='shift'/></p>
    <br>
    <input type='submit' value='Encrypt!'/>
  </form>
  <% if encrypted != nil %>
  <p>Your encrypted message is:</p>
  <p> <%= encrypted %> </p>
<% end %>
</body>

</html>

