<!DOCTYPE html>
<head>
  <title>Caesar Cipher</title>
</head>

<body>
  <p>hello world, welcome to a caesar cipher </p>
  <p>Enter shift number followed by a space before the message you want to encrypt</p>
  <form>
    <input type='text' name='input'/>
    <input type='submit' value='Encrypt!'/>
  </form>
  <p>Your encrypted message is:</p>
  <p> <%= encrypted %> </p>
</body>

</html>

